* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width: 375px) { 

    .reviews {
        padding-top: 40px;
        // background-color: #faf5f5;
        background-color: #fff;
        text-align: left;
        font-family: 'Montserrat';
        
        h2 {
            margin-bottom: 15px;
            font-family: 'American Typewriter';
            font-size: 20px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: 0.75;
            letter-spacing: 0.27px;
            color: #000000;
        }

        .wrapper {
            width: 87.7%;
            margin: 0 auto;
        }

        ul { 
            list-style-type: none;
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 14px;
            font: inherit;
            vertical-align: baseline;    

            li {
                // line-height: 2.29;
                // letter-spacing: 0.19px;
            }
        }

        .addreview {
            padding: 40px 0;
            background-color: #faf5f5;

            .review-text {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 10px;
                    font-family: Montserrat;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: 0.12px;
                    color: #000000;                                
                }

                textarea {
                    height: 68px;
                    margin-bottom: 10px;
                    border: 1px solid #e5e5e5;
                    border-radius: 4px;
                    background-color: #ffffff;
                }
            }

            h3 {  
                margin-bottom: 15px;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 0.12px;
                color: #000000;
            }
            
            button {
                padding: 10px 40px;
                border: none;
                border-radius: 25px;
                background-color: #f16a23;   
                font-size: 12px;
                font-weight: 700;
                line-height: 1.67;
                letter-spacing: 0.86px;
                color: #fff;
            }

            .star-rating {
                margin-bottom: 30px;
                svg { margin-right: 30px;}                                
            }
        }

        .comments {
            padding-top: 30px;

            ul {
                li {
                    padding: 30px 0;
                    border-bottom: solid 1px #dfdfdf;
                    
                    &:last-child { border-bottom: none; }

                    .userdetail {
                        display: flex;     
                        margin-bottom: 15px;                   

                        img {
                            width: 45px;
                            height: 45.3px;
                            margin-left: -5px;
                            margin-right: 10px;
                            box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.06);
                        }

                        h4 {
                            margin-bottom: 6px;
                            font-family: Montserrat;
                            font-size: 12px;
                            font-weight: 600;
                            line-height: 1.25;
                            letter-spacing: 0.1px;
                        }

                        .ratingno {
                            display: flex;

                            span {
                                margin-left: 10px;
                                font-size: 10px;
                                font-style: italic;
                            }                            
                        }
                    }

                    p {
                        font-size: 12px;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 2.08;
                        letter-spacing: normal;
                        color: #211f1f;
                    }
                }
            }

            span {
                margin-bottom: 17px;
                display: block;
                font-size: 12px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.25;
                letter-spacing: 0.1px;
                color: #6f6f6f;
            }            
        }

    }
}
